/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 5px;
}

h5 {
  color: #697376;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 15%;
  background-color: #009988;
}

.background-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 85%;
  background-color: #DBDBD1;
}

.container {
  height: 95%;
  width: 80%;
  min-width: 1000px;
  display: flex;
  background-color: #EAEAEA;
}

/* regole sezione sinistra */
.left-bar {
  width: 30%;
  height: 100%;
}

.user-info {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top-icon {
  font-size: 24px;
  margin: 0 10px;
  color: #B1B1B1;
}

.top-icon:hover {
  color: #697376;
  cursor: pointer;
}

.user-img {
  height: 100%;
  width: 60px;
}

.user-img img{
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.notification {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #76DCFF;
  padding: 10px 20px;
}

.notification i {
  color: #76DCFF;
  margin-right: 10px;
  font-size: 24px;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
}

.attiva-notifiche {
  display: flex;
  flex-direction: column;
}

.underline {
  font-size: 14px;
  color: #697376;
  text-decoration: underline;
  padding-top: 5px;
}

.underline:hover {
  cursor: pointer;
  color: #fff;
}

.search-chat {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 20px;
  color: #B1B1B1;
}

.search-chat input {
  height: 80%;
  width: 95%;
  border: none;
  border-radius: 10px;
  padding-left: 50px;
}

.contacts {
  height: calc(100% - 210px);
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
}

.conversation {
  height: 80px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid lightgrey;
}

.conversation:hover {
  cursor: pointer;
  background-color: #E9EBEB;
}

.conversation:first-child {
  border-top: 1px solid lightgrey;
}

.preview {
  margin-left: 20px;
}

.preview p {
  font-size: 14px;
  color: #B1B1B1;
}

.active {
  background-color: #E9EBEB;
}

/* regole sezione destra */
.right-bar {
  width: 70%;
  border-left: 1px solid lightgrey;
}

.top-bar-chat {
  height: 80px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.main-info {
  display: flex;
}

.active-chat-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-option {
  display: flex;
  align-items: center;
}

/* regole chat box */
.chat-box {
  height: calc(100% - 160px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-image: url("../img/Sfondo.jpg");
}

.messaggio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 90%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.text-msg {
  padding: 10px 10px 0 10px;
}

.time-msg {
  font-size: 10px;
  padding: 5px;
  color: #B1B1B1;
}

.ricevuto {
  align-self: start;
  background-color: #fff;
}

.inviato {
  align-self: end;
  background-color: #CBFBB3;
}

.input-chat {
  height: 80px;
  width: 100%;
  display: flex;
}

.input-chat i {
  font-size: 24px;
  color: #697376;
}

.input-chat i:hover {
  cursor: pointer;
  color: #B1B1B1;
}

.left-input {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-input {
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
}

.center-input input {
  width: 100%;
  height: 80%;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 18px;
}

.right-input {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
