/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* DEBUG:  */
  /* border: 1px solid black; */
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.jpg");
}

.container {
  height: 90%;
  width: 80%;
  min-width: 1000px;
  display: flex;
  background-color: #EAEAEA;
}

/* regole sezione sinistra */
.left-bar {
  width: 30%;
  height: 100%;
}

.user-info {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification {
  height: 80px;
  display: flex;
  background-color: #76DCFF;
}

.search-chat {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-chat input {
  height: 90%;
  width: 95%;
}

.contacts {
  height: calc(100% - 210px);
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
}

.conversation {
  height: 80px;
  width: 100%;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid lightgrey;
}

.conversation:first-child {
  border-top: 1px solid lightgrey;
}

.active {
  background-color: #E9EBEB;
}

/* regole sezione destra */
.right-bar {
  width: 70%;
  border-left: 1px solid lightgrey;
}

.top-bar-chat {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-info {
  display: flex;
}

/* regole chat box */
.chat-box {
  height: calc(100% - 160px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-image: url("../img/Sfondo.jpg");
}

.messaggio {
  display: flex;
  align-items: center;
  min-height: 60px;
  max-width: 90%;
}

.ricevuto {
  align-self: start;
  background-color: #fff;
}

.inviato {
  align-self: end;
  background-color: green;
}

.input-chat {
  height: 80px;
  width: 100%;
  display: flex;
}

.left-input {
  width: 100px;
}

.center-input {
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
}

.center-input input {
  width: 100%;
  height: 90%;
}

.right-input {
  width: 100px;
}
